<%- include('partials/header') %>

<main>
  <h2>Who We Are</h2>

<strong><p class="site-description">
    Car Clinic is an intelligent vehicle diagnostic platform that empowers car owners to detect mechanical issues using AI-powered analysis. Our goal is to simplify auto maintenance by providing smart, accessible, and accurate car health insights — anytime, anywhere.
</p></strong>

  <div class="team-section">
    <div class="team-card">
      <img src="/images/Eid.jpg" alt="Eid Rajab">
      <h3>Eid Rajab</h3>
      <p>078 966 6188</p>

    </div>

    <div class="team-card">
      <img src="/images/Sanad.jpg" alt="Sanad Awadeen">
      <h3>Sanad Awadeen</h3>
      <p>078 162 7573</p>
    </div>

    <div class="team-card">
      <img src="/images/Emran.jpg" alt="Emran Alenzi">
      <h3>Emran Alenzi</h3>
      <p>077 582 2934</p>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
