<%- include('partials/header') %>

<div class="layout-wrapper">
  <main>
    <h2>Car Notifications</h2>
    <div class="result">
      <p><%= notification %></p>
    </div>
  </main>

  <%- include('partials/footer') %>
</div>
